<section class="cta-soft">
  <div class="container">
    <div class="cta-soft-box">
      <div class="cta-soft-image">
        <img src="/assets/images/industries-bg1.webp" alt="Consultation" />
      </div>

      <div class="cta-soft-content">
        <h2>
          Ready To Transform Your Business?
          <!--<span>Book A Free Consultation</span>-->
        </h2>
        <p>
         Reach us to start a new project journey with us. Let's
          shape the future of your business together.
        </p>
        <div class="cta-soft-form">
          <!--<input type="email" placeholder="Email address" />-->
          <button>Reach us</button>
        </div>
      </div>
    </div>
  </div>
</section>
