<section class="cta">
        <div class="cta-grid">
          <!-- LEFT IMAGE -->
          <div class="cta-image">
            <img src="/assets/images/cta-team.jpg" alt="Consultation" />
          </div>

          <!-- RIGHT CONTENT -->
          <div class="cta-content">
            <h2>Ready to Transform <span>Your Business?</span></h2>

            <p>
              Start your journey with us. Let's build scalable, secure, and
              future-ready solutions tailored to your goals.
            </p>

            <a href="./contact-us.html" class="cta-btn">
              <span>Reach Us</span>
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </section>

<!--<section class="cta-soft">
  <div class="container">
    <div class="cta-soft-box">
      <div class="cta-soft-image">
        <img src="/assets/images/industries-bg1.webp" alt="Consultation" />
      </div>

      <div class="cta-soft-content">
        <h2>
          Ready To Transform Your Business?
          <!--<span>Book A Free Consultation</span>--
        </h2>
        <p>
         Reach us to start a new project journey with us. Let's
          shape the future of your business together.
        </p>
        <div class="cta-soft-form">
          <!--<input type="email" placeholder="Email address" />--
          <button>Reach us</button>
        </div>
      </div>
    </div>
  </div>
</section>->
