<section class="clients">
  <div class="container">
    <p class="clients-title">Trusted by <span>850+</span> Happy Customers</p>

    <div class="clients-slider">
      <div class="clients-track">
        <img src="/assets/customers/adcb.jpg" />
        <img src="/assets/customers/daf.jpg" />
        <img src="/assets/customers/damac.jpg" />
        <img src="/assets/customers/deloitte.jpg" />
        <img src="/assets/customers/dha.jpg" />
        <img src="/assets/customers/disaster_management.jpg" />
        <img src="/assets/customers/emaar.jpg" />
        <img src="/assets/customers/emirates.jpg" />
        <img src="/assets/customers/enoc.jpg" />
        <img src="/assets/customers/etihad-rail.jpg" />
        <img src="/assets/customers/etisalat.jpg" />
        <img src="/assets/customers/executive-council.jpg" />
        <img src="/assets/customers/fly-dubai.jpg" />
        <img src="/assets/customers/iffco.jpg" />
        <img src="/assets/customers/landmark.jpg" />
        <img src="/assets/customers/mashreq.jpg" />
        <img src="/assets/customers/moe.jpg" />
        <img src="/assets/customers/naffco.jpg" />
        <img src="/assets/customers/nbd.jpg" />
        <img src="/assets/customers/osn.jpg" />
        <img src="/assets/customers/rsa.jpg" />
        <img src="/assets/customers/rta.jpg" />
        <img src="/assets/customers/uae-expo.jpg" />
        <img src="/assets/customers/yas.jpg" />

        <img src="/assets/customers/adcb.jpg" />
        <img src="/assets/customers/daf.jpg" />
        <img src="/assets/customers/damac.jpg" />
        <img src="/assets/customers/deloitte.jpg" />
        <img src="/assets/customers/dha.jpg" />
        <img src="/assets/customers/disaster_management.jpg" />
        <img src="/assets/customers/emaar.jpg" />
        <img src="/assets/customers/emirates.jpg" />
        <img src="/assets/customers/enoc.jpg" />
        <img src="/assets/customers/etihad-rail.jpg" />
        <img src="/assets/customers/etisalat.jpg" />
        <img src="/assets/customers/executive-council.jpg" />
        <img src="/assets/customers/fly-dubai.jpg" />
        <img src="/assets/customers/iffco.jpg" />
        <img src="/assets/customers/landmark.jpg" />
        <img src="/assets/customers/mashreq.jpg" />
        <img src="/assets/customers/moe.jpg" />
        <img src="/assets/customers/naffco.jpg" />
        <img src="/assets/customers/nbd.jpg" />
        <img src="/assets/customers/osn.jpg" />
        <img src="/assets/customers/rsa.jpg" />
        <img src="/assets/customers/rta.jpg" />
        <img src="/assets/customers/uae-expo.jpg" />
        <img src="/assets/customers/yas.jpg" />
      </div>
    </div>
  </div>
</section>
