<footer class="footer">
  <div class="container footer-grid">
    <div class="footer-left">
      <div class="footer-logo">
        <img
          src="/assets/logo/Elitser-Technologies_page-0001.webp"
          alt="logo"
        />
      </div>

      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="footer-col">
      <h4>Our Services</h4>
      <p>Consulting</p>
      <p>Solutions</p>
      <p>AI/Automations</p>
      <p>Managed Services</p>
    </div>

    <div class="footer-col">
      <h4>Quick Links</h4>
      <p>About Us</p>
      <p>Our Clients</p>
      <p>Events</p>
      <p>Contact Us</p>
    </div>

    <div class="footer-col contact">
      <h4>Head Office</h4>

      <p><i class="fas fa-map-marker-alt"></i> Dubai, UAE</p>
      <p><i class="fas fa-phone"></i> +971 4 454 2741</p>
      <p><i class="fas fa-envelope"></i> reach@elitser-me.com</p>
    </div>
  </div>

  <div class="copyright">&copy; 2025 Elitser Group. All Rights Reserved.</div>
</footer>
